# Python - compilatión y caché
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (venv, conda, etc.)
venv/
.venv/
env/
.env

# Configuración del IDE
.vscode/
.idea/

# Datos del proyecto y resultados (evitar subir vídeos y salidas pesadas)
data/outputs/*
!data/outputs/.gitkeep
data/inputs/videos/*
!data/inputs/videos/.gitkeep
data/json/
