# Python - compilatión y caché
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (venv, conda, etc.)
venv/
.venv/
env/
.env

# OpenVino Model

models/yolov8-ball-bbx_openvino_model
models/yolov8-court-keypoint_openvino_model
models/yolov8-player-pose_openvino_model

# Configuración del IDE
.vscode/
.idea/

# Datos del proyecto y resultados (evitar subir vídeos y salidas pesadas)
data/outputs/*
!data/outputs/.gitkeep
data/inputs/videos/*
data/inputs/json/*
!data/inputs/videos/.gitkeep
data/json/
